@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #6c757d;
    font-family: 'Chakra Petch', sans-serif;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 4rem)
}

#matrix{
    border: 1px solid black;
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows : repeat(10, 1fr);
    font-size: 1.5rem;
}

#matrix > div{
    text-align: center;
    border: 1px solid black;

}

#matrix div:hover{
    cursor:default;
}


.words-to-find{
    font-size: 1.5rem;
    text-align: center;
    
    
}

.words{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.words p{
    margin: 1.5rem;
}

.highlight {
    color: #999;
}


@media screen and (min-width: 992px ) {
    #matrix {
        width: 600px;
        height: 400px;
    }

    #words-section {
        width: 80%;
        margin: 0 auto;
    }
    
}

.content h1{
    font-size: 4rem;

}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

#play-again{
    border: 1px solid black;
    width: 10rem;
    height: 3rem;
    margin: 0 auto 10rem auto;
    font-family: inherit;
    font-size: 1.5rem;
    background: linear-gradient(-180deg, #929EAD, 0%, #4e555b  98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    border-style: hidden;
    border-radius: 5px;
    
}

#play-again:hover{
    transform: scale(1.1);
    font-weight: bold;
    transition: transform, font-weight 0.2s ease-in-out ;
}


#play-again:hover{
    cursor: pointer;
}