@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --BG-COLOR: #6c757d;
    --SHADOW-COLOR: #212529;
    --SUBMIT-COLOR: #4f5d75;
}

select, button{
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    display: block;
}

html{
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--BG-COLOR);
}                                                    
h1{
    text-align: center;
    margin-top: 1rem;
}
section{
    border: 1px solid var(--SHADOW-COLOR);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px var(--SHADOW-COLOR);
    margin: 2rem auto;
    width: 70%;
    height: calc(100vh - 8rem);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
section > div{
    width: 100%;
    height: 80%;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;


}

label{
    font-size: 2rem;
}
select{
    width: 80%;
    height: 2.5rem;
    margin: 2rem auto;
    background-color: inherit;
    border: 2px solid var(--SHADOW-COLOR);

    
}

option{
    background-color: var(--BG-COLOR);
}

a, a:visited{
    color: #000;
    text-decoration: none;
}


button{
    margin-top: 3rem;
    width: 10rem;
    height: 3rem;
    background-color: #4f5d75;
    border: 2px solid var(--SHADOW-COLOR);
    font-size: 1.5rem;
   
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 8px #999;

}


@media screen and (min-width: 992px ) {
    section {
        width: 800px;
    }
    
}

